.headerContainer {
  height: 5rem;
  background-color: var(--dark-900);
  border-bottom: 1px solid var(--green-900);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  img {
    width: auto;
  }

  h1 {
    color: var(--red-900);
  }
}
